body {
    font-family: arial, sans-serif;
}

/* Style the top navigation bar */

.navVarTop {
    overflow: hidden;
}

/* Style the top navigation bar links */

.navVarTop a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

#right {
    float: right;
}

/* Add underline on hover */

.navVarTop a:hover {
    text-decoration: underline;
}

.centerStuff {
    margin: auto;
    width: 40%;
    padding: 10px;
}

.centerStuff img {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.centerStuff input {
    margin-top: 5%;
    width: 100%;
    background-image: url('images/google-mglass.png');
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

.buttons {
    text-align: center;
    margin: auto;
}

#button {
    width: 15%;
    height: 35px;
    background-color: rgb(228, 226, 226);
    border: none;
    border-radius: 4px;
}

/* Style the bot navigation bar */

.navVarBot {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
}

/* Style the bot navigation bar links */

.navVarBot a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* Add underline on hover */

.navVarBot a:hover {
    text-decoration: underline;
}