body {
    font-family: arial, sans-serif;
}

/* Style the top navigation bar */

.navVarTop {
    overflow: hidden;
}

/* Style the topnav links */

.navVarTop a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

#right {
    float: right;
}

/* Change color on hover */

.navVarTop a:hover {
    text-decoration: underline;
}

.centerStuff {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
}

/* Style the top navigation bar */

.navVarBot {
    overflow: hidden;
}

/* Style the topnav links */

.navVarBot a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}


/* Change color on hover */

.navVarBot a:hover {
    text-decoration: underline;
}